<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--数据库连接字符串-->
  <connectionStrings >

    <add name="connStr" connectionString="server=.;database=db_Tome1;uid=sa;pwd=shanzm"/>
    <!--注意在项目中我们是这样使用的，注意最后的.ConnectionString 
    string connStr = ConfigurationManager.ConnectionStrings["connStr"].ConnectionString ;-->
    
  </connectionStrings>
  
  
  
  <!--应用程序配置-->
  <appSettings >
    <add key="Version" value="v1.0.0.1"/>
    <!--注意此处我只是再拿数据库链接字符串举一个例子，
    我们通常会数据库连接字符串写在专有的<connectionStrings></connectionStrings>-->
    <add key="connStr" value="server=.;database=db_Tome1;uid=sa;pwd=shanzm"/>
    <add key="server" value ="."/>
    <add key="database" value ="db_Tome1"/>
    <add key="uid" value ="sa"/>
    <add key="pwd" value ="shanzm"/>

    <!--注意在项目中我们是这样使用的
    string Version = ConfigurationManager.AppSetting["Version"]-->
    
  </appSettings>
</configuration>